body {
    background-color: #9266ff;
    color: white;
}


.posts-app {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #3f3160;
    border: 1px solid pink;
    box-shadow: white 2px 1px;
    border-radius: 5px;
}

.posts-app h1 {
    color: white;
}

.posts-form {
    text-align: left;
}

.posts-form label {
    display: block;
    font-weight: bold;
}

form.posts-form #post-textarea, #post-input {
    background-color: rgb(27, 112, 137);
    border: 0;
    width: 98%;
    margin-top: 5px;
    color: white;
    border-radius: 7px;
    padding-left: 10px;
}

#post-textarea {
    height: 70px;
    font-size: 17px;
}

#post-input {
    height: 25px;
    margin-bottom: 5px;
    font-size: 17px;
}

#post-input::placeholder,#post-textarea::placeholder {
    color: rgba(255 , 255, 255, 0.5);
    font-size: 17px;
}

#post-input:focus,#post-textarea:focus,.posts-form:focus {
    outline: none;
}

div#form-button {
    text-align: right;
}

.posts-form button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(202, 156, 24);
    cursor: pointer;
    color: white;
}

div.posts-list {
    text-align: left;
    margin-top: 10px;
    height: auto;
}

.post-item {
    list-style-type: none;
}

.post-item p {
    position: relative;
    width: 90%;
    text-align: justify;    
}

span {
    position: absolute;
    right: 1px;
}

div.vote-buttons {
    padding: 5px;
    text-align: right;
    width: 90%;
}

.vote-buttons button {
    border: none;
    width: 70px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(255, 100, 24);
    cursor: pointer;
    color: white;
}

.vote-buttons button.upvote {
    background-color: green;
}

.vote-buttons button:nth-child(2) {
    margin-left: 5px;
}

.post-title {
    border-bottom: 1px solid grey;
    width: fit-content;
}





